<div class="container">
    <div-row>
        <div class="col-md-6">
            <h2>Bienvenide a la lista de parques temáticos, ¿qué quieres hacer</h2>
            <a href="/parks/new" class="btn btn-dark">Añadir nuevo parque</a>
        </div>

    </div-row>
</div>